<div id="profile" class="content_2">
                                                <!-- .title -->
<h1 class="h-bloc">个人信息</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">李鑫</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>姓名</label>
                <span class="value">李鑫</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>生日</label>
                <span class="value">1993年8月17日</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>地址</label>
                <span class="value">陕西,西安</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">403136170@qq.com</span>
                <div class="clear"></div>
            </li>

           <!-- 电话
           <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">132......</span>
                <div class="clear"></div>
            </li>
            !-->
            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>博客</label>
                <span class="value"><a href="http://xxlixin1993.blog.51cto.com/" target="_blank">技术博客地址</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i> 
            <!--简历-->      
           {$profiledata.short_info}
        </p>
        
        <!-- 
        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. 

        </p>
        -->
    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            
            <img src="__HOMEIMG__/img-profile/young.jpg" alt="young" />
           <!-- <img src="__HOMEIMG__/img-profile/picture01.jpg" alt="picture" />  -->
            <img src="__HOMEIMG__/img-profile/picture02.jpg" alt="picture" />
            <img src="__HOMEIMG__/img-profile/picture03.jpg" alt="picture" />
            <img src="__HOMEIMG__/img-profile/celtics.jpg" alt="celtics" />
        </div>

    </div>

</div>

    <div class="clear"></div>

  
<!-- client reference -->
<div class="row">
    <div class="col-md-12">   
    
<div class="reference clearfix"> 
            
        

        
</div>
 </div>
     
 
</div>

                                            </div>