<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改博文</title>
</head>
<body>
<form method='post' action='__URL__/editOk'>
<h1>修改博文</h1>
<hr/>
标题：<input type='text' name='title' value="{$row['title']}"/><hr/>
简要说明：<br/>
<textarea name="short_info" cols='28' rows='20'>{$row['short_info']}
</textarea><br/>
内容<br/>
<textarea name="content" cols='50' rows='20' >
{$row['content']}
</textarea>
<hr/>
个人分类：<select name='classifyid'>
<volist name='data' id='vo'>
<option value="{$vo.id}">{$vo.value}</option>
</volist>
</select>
<input type='hidden' name='id' value='{$row.id}' />
<input type='submit' name='submit' value='提交'/>
</form>
</body>
</html>
