<!-- .blog -->
            <div id="blog" class="content_2">
                <!--blog-->
                <h1 class="h-bloc">随笔</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">


            <volist name='data' id='vo'>
                <!-- Post 2 -->
                <article id="post-2" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-2" class="read_more">{$vo.title}</a></div>
                                            <div class="clear"></div>
                                        </div>



                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> {$vo.short_info}...</p></div>
                                    </div>
                                </div>	

                                <a href="#post-{$vo.id}" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 -->

                <div class="clear"></div>
            </volist>


            </section>

            <!-- End Page Blog -->




        <volist name='data' id='vo'>
            <!-- Page Blog - Post 2 -->
            <section id="post-{$vo.id}-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>

                            <div class="title_content">
                                <!--blog详细页面头部-->
                                <div class="text_content"></div>
                                <div class="clear"></div>
                            </div>


                            <p  class="caps">{$vo.content}</p>

                            

                            <div class="col-md-12 first">
                                
                                <div class="col-md-12"  style="margin-top: 20px;">
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 2 -->
        </volist>



        </div>

        

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->


