<div id="portfolio" class="content_2">
                                                
                                                <!-- .title -->
                                                <h1 class="h-bloc">Work And Life Photo</h1>

                                                <!-- .container-portfolio -->
                                                <div class="container-portfolio">

                                                    <!-- #filters -->
                                                    <ul id="filters" class="clearfix">
                                                        <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">所有</span></li>
                                                        <li><span class="filter" data-filter="catWeb">生活</span></li>
                                                        <li><span class="filter" data-filter="catGraphic">工作</span></li>
                                                        <li><span class="filter" data-filter="catMotion">图片</span></li>
                                                        <!--<li><span class="filter" data-filter="logo">Logo</span></li>-->
                                                    </ul>
                                                    <!-- /#filters -->
                                    
                                                    <!-- #portfoliolist -->
                                                    <div id="portfoliolist">

                                                        <!-- /.portfolio -->

 

                                                        <!-- .portfolio -->

                                                        <div class="portfolio catWeb" data-cat="catWeb">
                                                            <!-- .portfolio-wrapper -->
                                                            <div class="portfolio-wrapper">         
                                                                <a href="__HOMEIMG__/portfolio/2.jpg" rel="portfolio">
                                                                    <img src="__HOMEIMG__/portfolio/2.jpg" alt="Sonor's Design" />
                                                                    <div class="label">
                                                                        <div class="label-text">
                                                                            <a class="text-title">青春</a>
                                                                            <span class="text-category">朋友</span>
                                                                        </div>
                                                                        <div class="label-bg"></div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <!-- /.portfolio-wrapper -->
                                                        </div>	
                                                        <!-- .portfolio -->
                                                        <div class="portfolio catMotion" data-cat="catMotion">
                                                            <!-- .portfolio-wrapper -->
                                                            <div class="portfolio-wrapper">			
                                                                <a href="__HOMEIMG__/portfolio/4.jpg" rel="portfolio">
                                                                    <img src="__HOMEIMG__/portfolio/4.jpg" alt="Typography Company" />
                                                                    <div class="label">
                                                                        <div class="label-text">
                                                                            <a class="text-title">图片</a>
                                                                        </div>
                                                                        <div class="label-bg"></div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <!-- /.portfolio-wrapper -->
                                                        </div>	
                                                       

                                                       <div class="portfolio catMotion" data-cat="catGraphic">
                                                            <!-- .portfolio-wrapper -->
                                                            <div class="portfolio-wrapper">         
                                                                <a href="__HOMEIMG__/portfolio/4.jpg" rel="portfolio">
                                                                    <img src="__HOMEIMG__/portfolio/4.jpg" alt="Typography Company" />
                                                                    <div class="label">
                                                                        <div class="label-text">
                                                                            <a class="text-title">图片</a>
                                                                        </div>
                                                                        <div class="label-bg"></div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <!-- /.portfolio-wrapper -->
                                                        </div>  
                                                        <!-- /.portfolio -->
 
                                                        <!-- .portfolio -->
                                 <!--                       <div class="portfolio catWeb" data-cat="catWeb">  
								-->					
                                                            <!-- .portfolio-wrapper -->
                                 <!--                           <div class="portfolio-wrapper">			
                                                                <a href="__HOMEIMG__/portfolio/3.jpg" rel="portfolio">
                                                                    <img src="__HOMEIMG__/portfolio/3.jpg" alt="Sonor's Design" />
                                                                    <div class="label">
                                                                        <div class="label-text">
                                                                            <a class="text-title">证件照</a>
                                                                            <span class="text-category">自己</span>
                                                                        </div>
                                                                        <div class="label-bg"></div>
                                                                    </div>
                                                                </a>
                                                            </div> 
								-->					
                                                            <!-- /.portfolio-wrapper -->
                                   <!--                        </div>				
                                   -->                     <!-- /.portfolio -->

                                                        

                                                    

                                                        <div class="clear"></div>

                                                    </div>
                                                    <!-- #portfoliolist -->
                                                </div>
                                                <!-- /.container-portfolio -->
                                                                                       </div>
                                            <!-- End .portfolio -->